<div id="publications">
		<div *ngFor="let publication of publications" class="item-publication">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="image-user pull-left">
						<a href="#">
							<!-- <img src="{{ url +'get-image-user/' + publication.user.image }}" *ngIf="publication.user.image"/> -->
							<!-- <img src="assets/user.png" class="avatar-default" *ngIf="!publication.user.image"/> -->
						</a>
					</div>

					<div>
						<!-- <span class="user-name"> -->
							<!-- {{publication.user.name + ' ' + publication.user.surname }} -->
						<!-- </span> -->
						&nbsp;|&nbsp;
						<span class="date">
							<!-- {{ (publication.created_at | amFromUnix) | amLocale:'es' | amTimeAgo }} -->
						</span>
					</div>

					<h4 class="publication-text pull-left">
						{{publication.text}}
					</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-12 text-center" *ngIf="publications && publications.length">
		<p>
			<button class="btn btn-success" (click)="viewMore()" *ngIf="!noMore">
				Ver más publicaciones
			</button>
		</p>
	</div>
